{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ".",
        "alias": {
          "components": "./components",
          "data": "./data",
          "pages": "./pages",
          "styles": "./styles",
          "lib": "./lib",
          "api": "./api"
        }
      }
    ]
  ]
}
