.siteContainer
  width 100%

.siteContainer:global(.darkTheme)
  background-image url('./images/debut_dark.png')

.siteContainer:global(.lightTheme)
  background-image url('./images/debut_light.png')
