@import "lib/vars"

@font-face
  font-family 'me_quranR3HOQ'
  src url('/styles/fonts/me_quranR3HOQ.ttf') format('truetype')

body
  font-family 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif

h1, h2, h3, h4
  font-weight normal
  font-family titleFont
