@import "lib/vars"

.contentContainer
  max-width 1300px
  margin 0 auto
  display flex

.hero
  width 100%
  color #333

  :global(.darkTheme) :local(&)
    color #eee

.title
  margin 0
  width 100%
  padding-top 80px
  line-height 1.15
  font-size 48px

.title
  text-align center

.subtitle
  text-align center
  font-family titleFont
  font-style italic
  margin 5px auto 20px
  width 85%

.surasGroups
  display flex
  justify-content center
  margin-bottom 20px

  @media phone
    flex-direction column

.surasGroup
  display flex
  flex-direction column

  @media desktop
    & + &
      margin-left 32px

.suraNameContainer
  display flex
  align-items center
  margin-bottom 4px

  @media phone
    justify-content center

.suraNum
  font-size 11px
  line-height 1
  margin-right 4px

  @media phone
    font-size 16px

.suraName
  font-size 13px

  @media phone
    font-size 18px
