@import "lib/vars"

.contentContainer
  max-width 1300px
  margin 0 auto

.hero
  width 100%
  color #333

  :global(.darkTheme) :local(&)
    color #eee

.title
  margin 0
  width 100%
  padding-top 80px
  line-height 1.15
  font-size 48px

.title
  text-align center

.subtitle
  text-align center
  font-family titleFont
  font-style italic
  margin 5px auto 20px
  width 85%

.surasGroups
  display flex
  justify-content center
  margin-bottom 20px

.surasGroup
  display flex
  flex-direction column

  & + &
    margin-left 32px

.suraNameContainer
  display flex
  align-items center
  margin-bottom 4px

.suraNum
  font-size 11px
  margin-right 4px

.suraName
  font-size 13px
